<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        
        <div class="layui-form-item">
            <label class="layui-form-label">回拨人</label>
            <div class="layui-input-block">
                <input type="text" name="form_id" class="layui-input" lay-verify="required" placeholder="请输入回拨人" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">回拨上级</label>
            <div class="layui-input-block">
                <input type="text" name="to_id" class="layui-input" lay-verify="required" placeholder="请输入回拨上级" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">机具id</label>
            <div class="layui-input-block">
                <input type="text" name="terminnal_id" class="layui-input" lay-verify="required" placeholder="请输入机具id" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">1失败2成功</label>
            <div class="layui-input-block">
                <input type="text" name="status" class="layui-input" lay-verify="required" placeholder="请输入1失败2成功" value="1">
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>