<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        
        <div class="layui-form-item">
            <label class="layui-form-label">品牌</label>
            <div class="layui-input-block">
                <input type="text" name="organization" class="layui-input" lay-verify="required" placeholder="请输入品牌" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商户</label>
            <div class="layui-input-block">
                <input type="text" name="merchant_id" class="layui-input"  placeholder="请输入商户" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">代理商</label>
            <div class="layui-input-block">
                <input type="text" name="dls_id" class="layui-input"  placeholder="请输入代理商" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">终端</label>
            <div class="layui-input-block">
                <input type="text" name="terminal_id" class="layui-input"  placeholder="请输入终端" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">一代编号</label>
            <div class="layui-input-block">
                <input type="text" name="top_code" class="layui-input" lay-verify="required" placeholder="请输入一代编号" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">交易金额</label>
            <div class="layui-input-block">
                <input type="text" name="deal_money" class="layui-input" lay-verify="required" placeholder="请输入交易金额" value="0.00">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手续费</label>
            <div class="layui-input-block">
                <input type="text" name="service_money" class="layui-input" lay-verify="required" placeholder="请输入手续费" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">交易类型</label>
            <div class="layui-input-block">
                <input type="text" name="deal_type" class="layui-input" lay-verify="required" placeholder="请输入交易类型" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">deal_time</label>
            <div class="layui-input-block">
                <input type="text" name="deal_time" class="layui-input"  placeholder="请输入deal_time" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">渠道交易号</label>
            <div class="layui-input-block">
                <input type="text" name="deal_number" class="layui-input" lay-verify="required" placeholder="请输入渠道交易号" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">创建时间</label>
            <div class="layui-input-block">
                <input type="text" name="deal_create_time" class="layui-input"  placeholder="请输入创建时间" value="">
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>