<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">

        <div class="layui-form-item">
            <label class="layui-form-label">模板名称</label>
            <div class="layui-input-block">
                <input type="text" name="tname" class="layui-input" lay-verify="required" placeholder="请输入模板名称" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分润余额税率</label>
            <div class="layui-input-block">
                <input type="text" name="fenrun_rate" class="layui-input" lay-verify="required" placeholder="请输入分润余额税费" value="0.00">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分润余额单笔手续费</label>
            <div class="layui-input-block">
                <input type="text" name="fenrun_sxf" class="layui-input" lay-verify="required" placeholder="请输入分润余额单笔手续费" value="0.00">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">机具返现余额税率</label>
            <div class="layui-input-block">
                <input type="text" name="jijufan_rate" class="layui-input" lay-verify="required" placeholder="请输入机具返现余额税费" value="0.00">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">机具返现余额单笔手续费</label>
            <div class="layui-input-block">
                <input type="text" name="jijufan_sxf" class="layui-input" lay-verify="required" placeholder="请输入机具返现余额单笔手续费" value="0.00">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">D0服务费税率</label>
            <div class="layui-input-block">
                <input type="text" name="fwf_rate" class="layui-input" lay-verify="required" placeholder="请输入D0服务费税费" value="0.00">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">D0服务费单笔手续费</label>
            <div class="layui-input-block">
                <input type="text" name="fwf_sxf" class="layui-input" lay-verify="required" placeholder="请输入D0服务费单笔手续费" value="0.00">
            </div>
        </div>

        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>