<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">

        <div class="layui-form-item">
            <label class="layui-form-label required">用户头像</label>
            <div class="layui-input-block layuimini-upload">
                <input name="head_img" class="layui-input layui-col-xs6"  lay-reqtext="请上传用户头像" placeholder="请上传用户头像" value="">
                <div class="layuimini-upload-btn">
                    <span><a class="layui-btn" data-upload="head_img" data-upload-number="one" data-upload-exts="png|jpg|ico|jpeg" data-upload-icon="image"><i class="fa fa-upload"></i> 上传</a></span>
                    <span><a class="layui-btn layui-btn-normal" id="select_head_img" data-upload-select="head_img" data-upload-number="one" data-upload-mimetype="image/*"><i class="fa fa-list"></i> 选择</a></span>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">昵称</label>
            <div class="layui-input-block">
                <input type="text" name="username" class="layui-input" lay-reqtext="请输入登录账户" placeholder="请输入登录账户" value="">
                <tip>填写登录账户。</tip>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">公司名称</label>
            <div class="layui-input-block">
                <input type="text" name="company" class="layui-input" lay-reqtext="请输入公司名称" placeholder="请输入公司名称" value="">
                <tip>填写公司名称。</tip>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">代理商编号</label>
            <div class="layui-input-block">
                <input type="text" name="appid" class="layui-input" lay-reqtext="请输入代理商编号" placeholder="请输入代理商编号" value="">
                <tip>填写代理商编号。</tip>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">秘钥</label>
            <div class="layui-input-block">
                <input type="text" name="secret_key" class="layui-input" lay-reqtext="请输入秘钥" placeholder="请输入秘钥" value="">
                <tip>填写秘钥。</tip>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">代理商app名称</label>
            <div class="layui-input-block">
                <input type="text" name="appname" class="layui-input" lay-reqtext="请输入代理商app名称" placeholder="请输入代理商app名称" value="">
                <tip>填写代理商app名称。</tip>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">真实姓名</label>
            <div class="layui-input-block">
                <input type="text" name="name" class="layui-input" lay-reqtext="请输入真实姓名" placeholder="请输入真实姓名" value="">
                <tip>填写真实姓名。</tip>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">推广码</label>
            <div class="layui-input-block">
                <input type="text" name="pushing_code" class="layui-input" lay-reqtext="请输入推广码" placeholder="请输入推广码" value="">
                <tip>填写推广码。</tip>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">用户手机</label>
            <div class="layui-input-block">
                <input type="text" name="phone" class="layui-input" lay-reqtext="请输入用户手机" placeholder="请输入用户手机" value="">
                <tip>填写用户手机。</tip>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份证号码</label>
            <div class="layui-input-block">
                <input type="text" name="card_number" class="layui-input" lay-reqtext="请输入身份证号码" placeholder="请输入身份证号码" value="">
                <tip>填写身份证号码。</tip>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">银行卡号</label>
            <div class="layui-input-block">
                <input type="text" name="bank_number" class="layui-input" lay-reqtext="请输入银行卡号" placeholder="请输入银行卡号" value="">
                <tip>填写银行卡号。</tip>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">银行</label>
            <div class="layui-input-block">
                <input type="text" name="bank" class="layui-input" lay-reqtext="请输入银行" placeholder="请输入银行" value="">
                <tip>填写银行。</tip>
            </div>
        </div>
        <!--<div class="layui-form-item">-->
            <!--<label class="layui-form-label">角色权限</label>-->
            <!--<div class="layui-input-block">-->
                <!--{foreach auth_list as $key=>$val}-->
                <!--<input type="checkbox" name="auth_ids[{$key}]" lay-skin="primary" title="{$val}">-->
                <!--{/foreach}-->
            <!--</div>-->
        <!--</div>-->

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注信息</label>
            <div class="layui-input-block">
                <textarea name="remark" class="layui-textarea" placeholder="请输入备注信息"></textarea>
            </div>
        </div>

        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>