<div class="layuimini-container">
    <div class="layuimini-main">
        <h3></h3><h4 id="total"></h4>
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('deal.profit/add')}"
               data-auth-edit="{:auth('deal.profit/edit')}"
               data-auth-delete="{:auth('deal.profit/delete')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>

<script>
    //来稿需求id
    var id = "<?php echo $a?>";

    console.log(id);

</script>